<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="{{this.icon}}" alt="Logo should appear here"/>
      Server Info
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Server Info</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-label>Server Name</ion-label>
        <ion-text>{{this.ip}} : {{this.port}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>MOTD of the Server</ion-label>
      <ion-text>{{this.motd}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Server online</ion-label>
      <ion-text>{{serveronline}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Serverversion</ion-label>
      <ion-text>{{serverver}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Players</ion-label>
      <ion-text>{{playeronline}}/{{playermax}}</ion-text>
    </ion-item>
  </ion-list>
  <div [innerHTML]="skins">

  </div>

</ion-content>
